[submodule "SwiftSockets"]
	path = SwiftSockets
	url = https://github.com/AlwaysRightInstitute/SwiftSockets
[submodule "libssh"]
	path = libssh
	url = https://git.libssh.org/projects/libssh.git
	branch = v0-7
